@font-face {
    font-family: "Custom Font";
    src: url(../assets/fonts/BoldenVan.ttf);
}

* {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
    
}
body{
    width: 100%;
}

#main-container {
    height: 50vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main-container::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -30px;
    width: 100%;
    height: 52vw;
    opacity: 0.7;
    filter: brightness(0.6);
    background-image: linear-gradient(to right,
            #ff7300cf,#ffffffa9, #00b31284), url(../assets/photos/temple-1166023.jpg);
    background-repeat: no-repeat;
    /* background-position: 50% 0; */
    background-attachment: fixed;
    background-size: cover;
    z-index: -99;
}

  
#navbar-container {
    width: 100%;
    z-index: 999;
    background-color: white;
    top: 0;
    position: fixed;
}

.navbar {
    height: 65px;
    display: flex;
    justify-content: space-between;
}

#name {
    display: flex;
}

.brand {
    margin: 0 5px;
}

.center-logo {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 20%;
    text-shadow: 8px 8px 2px #131313;
    letter-spacing: 3px;
    padding: 0 5px;
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
    font-family: 'Teko', sans-serif;
    font-size: 11rem ;
}
#center-title-1{
    line-height: 1px;
}
#center-title-2{
    line-height: 0;
    font-family: "Custom Font";
    font-family: 8rem !important;
    color: #d8a040;
}
#center-plane {
    position: absolute;
    width: 250px;
    left: 20%;
    height: max-content;
    z-index: 1000;
    transform: rotate(-30deg);
}

#brand-logo {
    display: none;
}

.logo {
    font-size: 40px;
    padding: 0 5px;
    text-decoration: none;
    color: #d8a040;
    font-weight: bold;
}

#logo-name {
    text-shadow: 5px 5px 2px #131313;
    letter-spacing: 3px;
    font-family: "Custom Font";
    font-weight: 100;
}


#nav-links-container {
    display: flex;
    align-items: center;
}

.links {
    font-size: 1.7rem;
    margin: auto;
    padding: 0 15px;
    text-decoration: none;
    color: #494949;
    font-family: 'Teko', sans-serif;
}
#search{
    width: 40%;
    border-radius: 5px;
    

}

#search input {
    padding: 5px;
    font-size: 1.05rem !important;
    border: 0;
    /* border-width: 2px; */
    /* border-style: solid; */
    /* border-color: #B48E4A; */
    border-radius: 10px;
    position: relative;
    top: -2px;
    outline: none;
    width: 80%;

}
#submit{
    background: none;
    border: none;
    cursor: pointer;
}
.fa-magnifying-glass {
    font-size: 1.4rem;
    color: #494949;
}

#login-button {
    border: 0;
    border-radius: 5px;
    background-color: #d8a040;
    width: max-content;
    transition: 0.3s all;
    border: 3px solid #d8a040;
}

#login-button:hover {
    background-color: white;
}

#login {
    font-size: 1.35rem;
    text-decoration: none;
    color: white;
    padding: 0 5px;
    transition: 0.3s all;
}

#login:hover {
    color: #d8a040;
}


#india-paragraph{
    width: 80%;
    margin:50px auto ;
    font-family: 'Teko', sans-serif;
    font-size: 2rem;
    color: #494949;
}

#welcome{
    font-size: 3.5rem;
}

.rule-1{
    width: 70%;
    height: 5px;
    background-color: #d8a040;
    margin:20px auto ;
    border-radius: 20px;
}
.rule-2{
    margin:5px auto ;
    width: 40%;
    height: 5px;
    background-color: #d8a040;
    border-radius: 20px;
}
.rule-specific{
    width: 10%;
    margin: 0;
}
#cities-container{
    width: 80%;
    margin: 30px auto;
}

.heading{
    font-size: 3.5rem;
    color: #494949;
    padding: 10px 0;
    font-family: 'Teko', sans-serif;
    font-weight: lighter;
}

#cities{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    
}

.city{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    margin: 30px 0;
    gap: 10px;
}

.img-container::after{
    /* content:"GOA"; */
    position: relative;
    top: -60%;
    left: 40%;
    display: block;
    font-size: 4rem;
    font-family: 'Teko', sans-serif;
    color: #fff;
    text-shadow: 5px 5px 2px #131313;

}

#img-container-1::after{
    content: "GOA";
}
#img-container-2::after{
    content: "MUMBAI";
    left: 30%;
}
#img-container-3::after{
    content: "DELHI";
    left: 30%;
}
#img-container-4::after{
    left: 25%;
    content: "KOLKATA";
}
#img-container-5::after{
    left: 25%;
    content: "JAIPUR";
}

.img-container img{
    border-radius: 5px;
}

.city-content{
    margin: 9px;
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
    color: #494949;
}


.see-more a{
    text-decoration: none;
    text-align: center;
    margin: auto;
}
.see-more a i{
    line-height: 15px;
    overflow-y: hidden;
}
footer{
    width: 100%;
    background-image: url(../assets/photos/blonde-1867768.jpg),linear-gradient(45deg, #d8a040,#31bdec84 );
}

.content{
    margin: 20px auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.left-box{
    width: 30%;
}
.topic{
    font-size: 3em;
    color: #494949;
    font-family: 'Teko', sans-serif;
    font-weight: lighter;
    margin: 10px;
    text-align: center;
}

.left-box form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.left-box form input[type="email"]{
    width: 100%;
    height: 40px;
    border-radius: 1px;
    border: none;
    outline: none;
    margin: 10px 0;
}

.left-box form input[type="submit"]{
    background: #d8a040;
    width: 100px;
    border: none;
    outline: none;
    margin: 10px 0;
    font-family: 'Teko', sans-serif;
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
}
.left-box form input[type="submit"]::-webkit-scrollbar{
    display: none;    

}


.phone, .email, .media-icons{
    height: 40px;
}
.email a, .phone a, .media-icons s{
    color: #494949;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px;
}
.fas, .fab{
    font-size: 1.5rem;
    
    text-decoration: none;
    color: #494949;
}

.media-icons{
    margin: 30px auto;
    height: 120px;
}
.fab{
    padding: 20px ;
    font-size: 4em;
    transition: all 0.2s;
}

.fab:hover{
    transform: scale(1.3);
    color: #d8a040;
}

.video{
    margin: 70px 0;
    border-radius: 5px;
    border: 5px solid #d8a040;

}
.video embed{
    width: 400px;
    height: 200px;
    padding: 10px   ;
}