@font-face {
    font-family: "Custom Font";
    src: url(../assets/fonts/BoldenVan.ttf);
}

* {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
    
}
body{
    width: 100%;
}

#main-container {
    height: 40vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* #main-container::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -30px;
    width: 100%;
    height: 30vw;
    opacity: 0.7;
    filter: brightness(0.6);
    background-image:  url(../assets/photos/couple-20208.jpg);
    background-repeat: no-repeat;
    background-position:  50% 180%;
    background-attachment: fixed;
    background-size: cover;
    z-index: -99;
} */

  
#navbar-container {
    width: 100%;
    z-index: 999;
    background-color: white;
    top: 0;
    position: fixed;
}

.navbar {
    height: 65px;
    display: flex;
    justify-content: space-between;
}

#name {
    display: flex;
}

.brand {
    margin: 0 5px;
}

.center-logo {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 20%;
    text-shadow: 8px 8px 2px #131313;
    letter-spacing: 3px;
    padding: 0 5px;
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
    font-family: 'Teko', sans-serif;
    font-size: 11rem ;
}
#center-title-1{
    line-height: 1px;
}



#brand-logo {
    display: none;
}

.logo {
    font-size: 40px;
    padding: 0 5px;
    text-decoration: none;
    color: #d8a040;
    font-weight: bold;
}

#logo-name {
    text-shadow: 5px 5px 2px #131313;
    letter-spacing: 3px;
    font-family: "Custom Font";
    font-weight: 100;
}


#nav-links-container {
    display: flex;
    align-items: center;
}

.links {
    font-size: 1.7rem;
    margin: auto;
    padding: 0 15px;
    text-decoration: none;
    color: #494949;
    font-family: 'Teko', sans-serif;
}
#search{
    width: 40%;
    border-radius: 5px;
    

}

#search input {
    padding: 5px;
    font-size: 1.05rem !important;
    border: 0;
    /* border-width: 2px; */
    /* border-style: solid; */
    /* border-color: #B48E4A; */
    border-radius: 10px;
    position: relative;
    top: -2px;
    outline: none;
    width: 80%;

}
#submit{
    background: none;
    border: none;
    cursor: pointer;
}
.fa-magnifying-glass {
    font-size: 1.4rem;
    color: #494949;
}

#login-button {
    border: 0;
    border-radius: 5px;
    background-color: #d8a040;
    width: max-content;
    transition: 0.3s all;
    border: 3px solid #d8a040;
}

#login-button:hover {
    background-color: white;
}

#login {
    font-size: 1.35rem;
    text-decoration: none;
    color: white;
    padding: 0 5px;
    transition: 0.3s all;
}

#login:hover {
    color: #d8a040;
}

#image-gallery{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: hidden;
    
}
.img{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.rule-1{
    width: 70%;
    height: 5px;
    background-color: #d8a040;
    margin:20px auto ;
    border-radius: 20px;
}
.rule-2{
    margin:5px auto ;
    width: 40%;
    height: 5px;
    background-color: #d8a040;
    border-radius: 20px;
}
.rule-specific{
    width: 10%;
    margin: 0;
}
.heading{
    font-size: 3.5rem;
    color: #494949;
    padding: 10px 0;
    font-family: 'Teko', sans-serif;
    font-weight: lighter;
}

#written-content-container{
    width: 80%;
    margin: 20px auto;
}

#points-container{
    margin: 20px auto;
}

.bullet-point{
    line-height: 35px;
    font-weight: light;
    font-size: 1.5rem;
    color: #494949;
    font-family: 'Teko', sans-serif;
}
.bullet-point span{
    font-weight: bold;
}

ul {
    list-style-type: disc;    
    list-style-position: inside;
}

#package-details{
    display: flex;
    width: 60%;
    margin: 50px 100px ;
    justify-content: space-between;
}

#price{
    display: flex;
    flex-direction: column;
}

#details span{
    font-size: 2rem;
    font-weight: lighter;
    font-family: "Teko", sans-serif;
    color: #494949;
}
#details span:nth-child(3){
    font-size: 1.2rem;
}
#details span:nth-child(3) i{
    font-size: 1rem;
}

#price span{
    font-size: 2rem;
    font-weight: lighter;
    font-family: "Teko", sans-serif;
    color: #494949;
}
#price span:nth-child(1) i{
    font-size: 1.4rem;
}
#price span:nth-child(2){
    font-size: 1.5rem;
}
#details span:nth-child(3) i{
    font-size: 1rem;
}

#book {
    border-radius: 5px;
    background-color: #d8a040;
    width: max-content;
    border: 3px solid #d8a040;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
    color: white;
    padding: 0 5px;
    cursor: pointer;
}


footer{
    width: 100%;
    background-image: url(../assets/photos/blonde-1867768.jpg),linear-gradient(45deg, #d8a040,#31bdec84 );
}

.content{
    margin: 20px auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.left-box{
    width: 30%;
}
.topic{
    font-size: 3em;
    color: #494949;
    font-family: 'Teko', sans-serif;
    font-weight: lighter;
    margin: 10px;
    text-align: center;
}

.left-box form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.left-box form input[type="email"]{
    width: 100%;
    height: 40px;
    border-radius: 1px;
    border: none;
    outline: none;
    margin: 10px 0;
}

.left-box form input[type="submit"]{
    background: #d8a040;
    width: 100px;
    border: none;
    outline: none;
    margin: 10px 0;
    font-family: 'Teko', sans-serif;
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
}
.left-box form input[type="submit"]::-webkit-scrollbar{
    display: none;    

}


.phone, .email, .media-icons{
    height: 40px;
}
.email a, .phone a, .media-icons s{
    color: #494949;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px;
}
.fas, .fab{
    font-size: 1.5rem;
    
    text-decoration: none;
    color: #494949;
}

.media-icons{
    margin: 30px auto;
    height: 120px;
}
.fab{
    padding: 20px ;
    font-size: 4em;
    transition: all 0.2s;
}

.fab:hover{
    transform: scale(1.3);
    color: #d8a040;
}

.video{
    margin: 70px 0;
    border-radius: 5px;
    border: 5px solid #d8a040;

}
.video embed{
    width: 400px;
    height: 200px;
    padding: 10px   ;
}

.activity-name{
    font-size: 2rem;
}

